{% extends 'templates/main/header.html' %}
{% block title %}
Calendar
{% endblock %}

{% block main %}
<div class='my-legend'>
<div class='legend-scale' >
  <ul class='legend-labels' >
    <li><span style='background:#8DD3C7;'></span>Tonicha</li>
    </br>
    <li><span style='background:#FFFFB3;'></span>Rodrigo</li>
<!--    <li><span style='background:#BEBADA;'></span>Three</li>-->
<!--    <li><span style='background:#FB8072;'></span>Four</li>-->
<!--    <li><span style='background:#80B1D3;'></span>etc</li>-->
  </ul>
</div>
</div>

<style type='text/css'>
  .my-legend .legend-title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: center;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0px;
    line-height: 18px;
    margin-bottom: 2px;

    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>


<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'main:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'main:calendar' %}?{{ next_month }}"> Next Month </a>
<!--	<a class="btn btn-info right" href="{% url 'main:event_new' %}"> New Event </a>-->
</div>
{% if user.is_authenticated and user.is_parent%}
    {{ calendar }}
{% else %}
    <t>
        login first as parent
    </t>
{% endif %}


{% endblock %}