{% extends 'templates/main/header.html' %}
{% block main %}

{% if user.is_authenticated and user.id == 5%}
	{% block title %}
	Class List
	{% endblock %}
	</br>
	<form method="get">
<!--		{{ filter.form.as_p }}-->
		<tr>
            <th>
                <label for="id_date_0">Date:</label>
            </th>
            <td>
                <input type = "date" name="date_after" value="2020-03-01" id="id_date_0">
                -
                <input type="date" name="date_before" value="2020-03-20" id="id_date_1">
            </td>
        </tr>
		<input type="submit" />
	</form>
	<h3>Showing the results of {{date_after}} to {{date_before}}</h3>
	 <div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Time  </th>
						<th>Date   </th>
						<th>Location      </th>
						<th>Name</th>
						<th>Section</th>
					</tr>

					{% for log in logs %}

					<tr>
						<td>{{log.time}}</td>
						<td>{{log.date}}</td>
						<td>{{log.location}}</td>
						<td>{{log.id_number.last_name}}, {{log.id_number.first_name}}</td>
						<td>{{log.id_number.section}}</td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Absences</th>
						<th>Lates</th>
					</tr>


					{% for name, cnt, l_cnt in att_list %}
					<tr>
						<td>{{name}}</td>
						<td>{{cnt}}</td>
						<td>{{l_cnt}}</td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
{% else %}
    <t>
        unauthorized
    </t>

{% endif %}


{% endblock %}


