{% extends 'templates/main/base_cal.html' %}
{% block content %}

{% if user.is_authenticated and user.id == 5%}
	{% block title %}
	Class List
	{% endblock %}
	<form method="get">
		{{ filter.form.as_p }}
		<input type="submit" />
	</form>

	 <div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Time  </th>
						<th>Date   </th>
						<th>Location      </th>
						<th>Id Number</th>
						<th>Name</th>
						<th>Section</th>
					</tr>

					{% for log in logs %}

					<tr>
						<td>{{log.time}}</td>
						<td>{{log.date}}</td>
						<td>{{log.location}}</td>
						<td>{{log.id_number.id}}</td>
						<td>{{log.id_number.first_name}}</td>
						<td>{{log.id_number.section}}</td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Absences</th>
						<th>Lates</th>
					</tr>


					{% for name, cnt, l_cnt in att_list %}
					<tr>
						<td>{{name}}</td>
						<td>{{cnt}}</td>
						<td>{{l_cnt}}</td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
{% else %}
    <t>
        unauthorized
    </t>

{% endif %}


{% endblock %}


