{% extends 'templates/main/header.html' %}


{% block content %}

    Contact us at andrew.concejero@gmail.com if you have any concerns.

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> here.
    If you dont, <a href="/register" target="blank"><strong>signup</strong></a> here.

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="background-color:#877afa; color:white" class="btn btn-outline-info" type="submit">Submit</button>
    </form>
    <form action="/your-name/" method="post">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <input type="submit" value="OK">
    </form>
{% endblock %}