{% extends 'templates/main/header.html' %}
{% block title %}
  Contact Us
{% endblock %}


{% block main %}



<!--<form method="post">-->
<!--  {% csrf_token %}-->
<!--  <table class="form form-table">-->
<!--    {{ form.as_p }}-->
<!--    <tr><td colspan="3"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>-->


<!--  </table>-->
<!--</form>-->

<form method="post">
{% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="id_email_address">Email</label>
      <input type="email" name="email_address" maxlength="254"  class="form-control" required id="id_email_address" placeholder="TobyEmail@hound.com">
    </div>
    <div class="col-md-4 mb-3">
      <label for="id_subject">Subject</label>
      <input type="text" name="subject" maxlength="100" class="form-control" required id="id_subject" placeholder="Hi! How's Toby?">
    </div>

  </div>
  <div class="form-row">
<!--    <div class="col-md-8 mb-3">-->
<!--      <label for="id_message">Message</label>-->
<!--      <input type="text" name= "message" class="form-control" required id="id_message">-->
<!--    </div>-->

    <div class="col-md-8 mb-3">
        <label for="id_message">Message</label>
        </br>
        <textarea name="message" cols="63" rows="8" required id="id_message"></textarea>
    </div>
<!--    <tr><td colspan="3"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>-->

<!--     <tr><th><label for="id_message">Message:</label></th><td><ul class="errorlist">-->
<!--        <li>This field is required.</li></ul>-->
<!--         <textarea name="message" cols="40" rows="10" required id="id_message"></textarea></td></tr>-->
  <!--<div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div> -->
  </br>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</>

<!--
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Subject</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->

<!--
<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form.as_p }
    <tr><td colspan="3"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>
-->


{% endblock %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

