
{% extends 'templates/main/header.html' %}
{% block main %}


{% if user.is_authenticated and user.is_parent%}
    <h2>Child Stats</h2>
    </br>
    <t>
        {{user.username|title}}
    </t>

    </br>


<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Name</th>
                    <th>Absent</th>
                    <th>Late</th>
                    <th>Ontime</th>
                    <th>In school today?</th>
				</tr>


				{% for name, cnt, l_cnt, p_cnt, p_today in att_list %}

				<tr>
                    <td>{{name}}</td>
                    <td>{{cnt}}</td>
                    <td>{{l_cnt}}</td>
                    <td>{{p_cnt}}</td>
                    <td>{{p_today}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

</br>
</br>
<div>

       {% for l in logs_parsed %}
            {% for log in l %}
                {{log}}
                </br>
            {%endfor%}
            </br>
        {% endfor %}

</div>


<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#6170d1', '#4d79ff', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>




{% else %}
    <t>
        login first as parent
    </t>
{% endif %}


{%endblock %}

