{% extends 'templates/main/header.html' %}
{% block main %}


<!--{% if user.is_authenticated and user.is_teacher%}-->
<!--    <t>-->
<!--        {{user.username|title}}-->
<!--        </br>-->
<!--        {% for student in students%}-->
<!--            {%if student.teacher.user.id == user.id %}-->
<!--                {{student.first_name}}-->
<!--                - -->
<!--                {{student.section}}-->
<!--                </br>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    </t>-->
<!--{% elif user.is_authenticated and user.is_parent%}-->
<!--    <t>-->
<!--        {{user.username|title}}-->

<!--        {% for student in students%}-->
<!--            {% for sp in student.parent.all %}-->
<!--                {%if sp.user.id == user.id %}-->
<!--                    {{student.first_name}}-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
<!--    </t>-->
<!--{% else %}-->
<!--    <t>-->
<!--        login first-->

<!--    </t>-->
<!--    </br>-->

<!--{% endif %}-->

{% if user.is_authenticated and user.id == 5%}
    {% block title %}Year Level Filter{% endblock %}

    <form method="get">
        {{ filter.form }}
        <input type="submit" />
    </form>


<!--    {% for section in section_list%}-->
<!--        <a href="/students/{{section}}">{{section}}</a>-->
<!--        </br>-->
<!--    {% endfor %}-->

    </br>

    <div class="row row-cols-1 row-cols-md-3">
        {% for section in section_list%}
            <div class="col mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <div class = "center">
                        <h3 align="center">
                            <a class="card-title" align="center" href="/students/{{section}}" >{{section}}</a>
                        </h3>
                    </div>
                  </div>
                </div>
            </div>
        {%endfor %}
    </div>


    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>First Name   </th>
                        <th>Year Level   </th>
                        <th>Section      </th>
                    </tr>

                    {% for student in students %}

                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.year_level}}</td>
                        <td>{{student.section}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>



{% else %}
    <t>
        unauthorized
    </t>

{% endif %}

{% endblock %}